{% extends "visual_index.html" %}
{% block books %}
    <h2>Selling books!!!</h2>
    <h5><a href="/admin/book/customer/">List of customers</a></h5>
    <table class="list">
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Count</th>
            <th>Buy</th>
        </tr>
        {% for book in books %}
            <tr>
                <td><a href="view/{{ book.id }}">{{ book.name }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.count }}</td>
                <td><a href="{{ book.id }}">Buy now</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}