{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/additional-methods.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <header>
            <ul class="menu">
                <li><a href="/">Root</a></li>
                <li><a href="/quadratic/">Quadratic</a></li>
                <li><a href="/fibonacci/">Fibonacci</a></li>
                <li><a href="/books/">Books</a></li>
                <li><a href="/admin/">Admin</a></li>
            </ul>
        </header>
        <h1>Bolotbekov</h1>
            {% block quadratic %}{% endblock %}
            {% block fibonacci %}{% endblock %}
            {% block books %} {% endblock %}
            {% block checkout %}{% endblock %}
        </div>
</body>
</html>